.title {
    background:  #d95043;
    padding: 8px;
    font: 14px/100% '黑体';
    color: white;
    /*font-weight:bold;*/
    border-top: 1px solid #F6D3BC;
    border-bottom: 1px solid #F6D3BC;
}

.query {
    padding: 10px 10px;
    background: #fff;
}

    .query span {
        font-family: '微软雅黑';
    }

    .query input ,.query select {
        margin-left: 5px;
        padding:5px;
    vertical-align: middle;
    }

    .query button, .per-footer button,.footer input,.pager_tool .btn  {
        padding: 0 4px;
        border: 1px solid #F6D3BC;
        color: #fff;
        background: #d95043;
        border-radius:3px;
        vertical-align: middle;
        cursor: pointer;
        height: 28px;
        *margin:0 5px;
    }

.pagination a, .pagination button, .pagination span,.fanye a,.fanye span{
    display: inline-block;
    padding: 0 4px;
    border: 1px solid #e4766c;
    background: #d95043;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 3px;
    height: 22px;
    line-height: 20px;
    border-radius:3px;
}

.pagination span,.fanye span {
    background: #FFF;
    color:#000;
}

.manage table {
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px;
}

    .manage table thead {
        color: #000000;
        font-size: 12px;
    }

    .manage table th {
        /* border-top: 1px solid #525C3D;*/
        border-bottom: 1px solid #F6D3BC;
        height: 30px;
        color: #fff;
        background:  #d95043;
        /* border-right: 1px solid #fff;*/
        padding-left: 5px;
    }

    .manage table td {
        background: #fff;
        /*border: 1px solid #BDF0BC;*/
        border-top: none;
        padding-left: 5px;
    }

    .manage table .operation a {
        color: #FF7F14;
        /* font-weight: 600;*/
    }

        .manage table .operation a:hover {
            color: #F00;
        }

    .manage table .operation .disabled, .manage table .operation .delete {
        color: #808080;
        cursor: text;
    }

        .manage table .operation .disabled:hover, .manage table .operation .delete:hover {
            color: #808080;
            text-decoration: none;
        }

    .manage table tbody tr:hover td {
        background: #FCFF28;
    }



.handle {
    text-align: center;
}

    .handle input {
        width: 48px;
        height: 26px;
        cursor: pointer;
    }

.add-info > div { padding: 5px 0; }
.add-info input,.add-info select {
   
    padding:5px;
}
.add-info input{
     margin-left: 5px;
}

.tip-info {
    width: 30%;
    margin-left: 10px;
    text-align: left;
    color: #F00;
}

.per-footer {
    float: left;
    margin-left: 10px;
}





.pad td {
    text-align: center;
    padding: 2px;
}

.pad input {
    width: 35px;
    height: 24px;
    text-align: center;
}

.kj-result .pad {
    padding: 10px;
}

.kj-result .btm {
    text-align: right;
    border-top: 1px solid #525C3D;
    padding: 10px 4px;
}

.btm button {
    padding: 4px 10px;
    vertical-align: bottom;
}